<div class="container p-5 animate__animated animate__fadeInRight">
  <h1>Historial</h1>
  <hr />
  <app-alert
    message="Aún no posees historial de trasnferencias!"
    *ngIf="!hasHistory"
  ></app-alert>
  <table class="table table-striped table-hover animate__animated animate__fadeIn" *ngIf="history.length">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>RUT</th>
        <th>Banco</th>
        <th>Tipo de Cuenta</th>
        <th>Monto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of history">
        <td>{{ transaction.name | titlecase }}</td>
        <td>{{ transaction.rut }}</td>
        <td>{{ transaction.bank | titlecase }}</td>
        <td>{{ transaction.accountType | titlecase }}</td>
        <td>{{ transaction.amount | currency: "CLP":"$":"1.0-2" }}</td>
      </tr>
    </tbody>
  </table>
</div>
